/*  COLOR SCHEME: */
* {
  --primary: #215481;
  --hoverBlue: #487194;
  --gray: #f7f7f7;

  box-sizing: border-box;
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--gray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

p {
  font-size: large;
}

.content {
  padding: 5rem 0;
}

.content > h1 {
  font-size: 50px;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary);
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

nav > a {
  display: inline-block;
  flex-direction: row;
  padding: 1rem;
  text-decoration: none;
  color: var(--gray);
  letter-spacing: 1px;
  font-weight: 400;
}

.active {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: var(--gray);
  color: var(--primary);
}

nav > :not(.active):hover {
  background-color: var(--hoverBlue);
}

.about-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.about-card {
  flex: 1 0 300px;
  max-width: 800px;
}

img.profile {
  border-radius: 50%;
  width: 100%;
}

.url-code {
  color: white;
  padding: 0.5rem;
}
