*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Rubik", sans-serif;

  /*  Color scheme */
  --primary: #215481;
  --secondary: #808080;
  --whiteGray: #f7f7f7;

  /* Helper colors */
  --primaryLight: #487194;
  --secondaryDark: #6d6d6d;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  /* Width */
  width: 10px;
}
::-webkit-scrollbar-thumb {
  /* Bar */
  background: var(--secondary);
}
::-webkit-scrollbar-thumb:hover {
  /* Bar on hover */
  background: var(--secondaryDark);
}

body {
  margin: 0;
  padding: 0;
  background: var(--whiteGray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

p {
  font-size: large;
}

.content {
  padding: 5rem 0;
}

/* Page Titles */
.content > h1 {
  font-size: 40px;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary);
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

nav > a {
  display: inline-block;
  flex-direction: row;
  padding: 1rem;
  text-decoration: none;
  color: var(--whiteGray);
  letter-spacing: 1px;
  font-weight: 400;
}

.active {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background: var(--whiteGray);
  color: var(--primary);
}

nav > :not(.active):hover {
  background: var(--primaryLight);
}

img.profile {
  border-radius: 50%;
  width: 100%;
}

img.resume {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
}

.url-code {
  color: white;
  padding: 0.5rem;
}

.card {
  padding: 2rem;
  margin: 2rem;
}

.intro-vid {
  height: 500px;
  margin: 5rem 0;
}

.icon-button {
  border-radius: 0;
}

.contact-icon {
  width: 100%;
  height: 100%;
}

.flex-child.navlink-icon {
  display: inherit;
  align-self: center;
}

.flex-child.navlink-text {
  padding-left: 0.5rem;
}
