*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: "Rubik", sans-serif;

  /*  Color scheme */
  --primary: #215481;
  --secondary: #808080;
  --whiteGray: #f7f7f7;

  /* Helper colors */
  --primaryLight: #487194;
  --secondaryDark: #6d6d6d;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  /* Width */
  width: 10px;
}
::-webkit-scrollbar-thumb {
  /* Bar */
  background: var(--secondary);
}
::-webkit-scrollbar-thumb:hover {
  /* Bar on hover */
  background: var(--secondaryDark);
}

code {
  font-family: "Consolas", "Courier New", Courier, monospace;
}

body {
  margin: 0;
  padding: 0;
  background: var(--whiteGray);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary);
}

p {
  font-size: large;
}

a {
  color: var(--secondary);
}

main {
  margin: 7rem 0;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--primary);
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

nav > a {
  display: inline-block;
  flex-direction: row;
  padding: 1rem;
  text-decoration: none;
  color: var(--whiteGray);
  letter-spacing: 1px;
  font-weight: 400;
}

.active {
  text-decoration: none;
  font-weight: bold;
  background: var(--whiteGray);
  color: var(--primary);
}

nav > :not(.active):hover {
  background: var(--primaryLight);
}
